{{!< layout}}

    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Realtime Chat</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col-sm-9 messages" id="msgs"></div>
        <div class="col-sm-3 userlist" id="users"></div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form id="chatForm" class="form-inline" data-role="form">
                <div class="form-group">
                    <label for="msg">{{user}}:&nbsp;</label>
                    <input class="form-control" id="msg" type="text">
                    <button id="sendBtn" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>

    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <script src="/js/app.min.js"></script>
    <script>
        var userName = '{{user}}';
    </script>